<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Logis Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/main.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{{url_for('static', filename='assets/img/temp_logo.png')}}" alt="" style="height: 60px; width: 200px;">
        <!-- <h1>Logis</h1> -->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <!-- <li><a href="pricing.html">Pricing</a></li> -->
          <li class="dropdown"><a href="#"><span>Articles</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">What is E-Waste</a></li>
              <li class="dropdown"><a href="#"><span>E-Waste Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Small Equipments</a></li>
                  <li><a href="#">Large Equipments</a></li>
                  <li><a href="#">IT Equipments</a></li>
                  <li><a href="#">Telecomms Equipments</a></li>
                  <li><a href="#">Miscellaneous</a></li>
                </ul>
              </li>
              <li><a href="#">Global Statistics</a></li>
              <li><a href="#">E-Waste in India</a></li>
              <li><a href="#">Other Articles</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="estimate.html">Get Device Estimate</a></li>
          <li><a class="get-a-quote" href="get-a-quote.html">SIGN IN</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">THE  ULTIMATE  REWARDING  e-waste  RECYCLING  HUB</h2>
          <h5 data-aos="fade-up" data-aos-delay="100">FIND THE NEARBY E-WASTE COLLECTOR</h5>

          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="ZIP code or CitY">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="1000">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="28" data-purecounter-duration="5" class="purecounter"></span>
                <p>States</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="6" class="purecounter"></span>
                <p>Union Territories</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="766" data-purecounter-duration="5" class="purecounter"></span>
                <p>Districts</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1500" data-purecounter-duration="6" class="purecounter"></span>
                <p>Verified Collectors</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <div style="width: 470px; height: 450px; overflow: hidden; border-radius: 50%; position: relative;">
              <img src="{{url_for('static', filename='assets/img/temp_hero2.jpg')}}" class="img-fluid" alt="New Image Description" style="width: 100%; height: 100%; object-fit: cover;">
              <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);"></div>
          </div>
      </div>
      

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
            <div>
              <h4 class="title">Get Device Estimate</h4>
              <p class="description">Curious about the hidden worth of your old electronic devices? Our "Estimate Device Value" feature allows you to uncover the potential value hidden within your e-waste.</p>
              <a href="estimate.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
            <div>
              <h4 class="title">Locate Nearby e-waste facility</h4>
              <p class="description">Finding the nearest e-waste collection and recycling facility has never been easier. Our "Locate Nearby E-Waste Collector" feature puts the power of responsible disposal at your fingertips.</p>
              <a href="index.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div>
              <h4 class="title">Off Load e-waste and Get Credits</h4>
              <p class="description">With our "Get Credits" feature, you not only contribute to a sustainable future but also earn valuable credits that can be redeemed for exciting rewards.</p>
              <a href="get-a-quote.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="{{url_for('static', filename='assets/img/temp_about2.jpg')}}" class="img-fluid" alt="" style="margin-left: 65px; margin-top: 35px;">
            <a href="https://www.youtube.com/watch?v=CmP67zq5hfo" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              WE ARE on a MISSION to Revolutionize the way we think about electronic waste (E-WASTE) and its impact on our PLANET. We believe that responsible e-waste disposal is not just a CHOICE; it is a RESPOSIBILITY we ALL SHARE.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>WHY CHOOSE US? USER-CENTRIC APPROACH</h5>
                  <p>Everything we do is designed with you in mind. From user-friendly features to valuable rewards, we prioritize your experience and satisfaction.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>INNOVATION AND TECHNOLOGY</h5>
                  <p>We harness the power of technology to simplify e-waste recycling and make it a seamless part of your life.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>EDUCATION AND REWARDS</h5>
                  <p>We aim to educate and empower individuals and communities to make informed choices about e-waste. We are here to reward your efforts, turning responsible actions into tangible benefits.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Services</span>
          <h2>Our Services</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{{url_for('static', filename='assets/img/nearest_ewaste_facility_pic.webp')}}" alt="" class="img-fluid" style="height: 220px;">
              </div>
              <h3><a href="get-a-quote.html" class="stretched-link">Nearest E-Waste Facilities</a></h3>
              <p>Our E-Waste Locator Service helps you easily find the closest e-waste collection and recycling facilities. Simply enter your location, and we will provide a list of nearby centers</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="{{url_for('static', filename='assets/img/estimate_device_value_pic3.jpg')}}" alt="" class="img-fluid" style="height: 220px;">
              </div>
              <h3><a href="get-a-quote.html" class="stretched-link">Estimate Your Device's Value</a></h3>
              <p>Curious about the hidden worth of your old devices? Our Device Value Estimation service analyzes your device to estimate the quantity of precious metals it contains. Discover its potential value based on current market prices and make informed recycling decisions.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="{{url_for('static', filename='assets/img/rewards_catalog_pic2jpg.png')}}" alt="" class="img-fluid" style="height: 220px;">
              </div>
              <h3><a href="get-a-quote.html" class="stretched-link">EARN 'n' Redeem Your Credits</a></h3>
              <p>Visit our Rewards Catalog to explore a variety of rewards available for redemption using your accumulated credits. Choose from eco-friendly products, exclusive discounts, and even options to donate your credits to support environmental causes.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="{{url_for('static', filename='assets/img/educational_content_pic3.jpg')}}" alt="" class="img-fluid" style="height: 220px;">
              </div>
              <h3><a href="get-a-quote.html" class="stretched-link">Learn About E-Waste</a></h3>
              <p>Dive into our library of Educational Resources to expand your knowledge about e-waste. Explore articles, guides, and infographics that explain the environmental and health impacts of e-waste and how responsible recycling can make a difference.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="{{url_for('static', filename='assets/img/community_engagement_pic3.webp')}}" alt="" class="img-fluid" style="height: 220px;">
              </div>
              <h3><a href="get-a-quote.html" class="stretched-link">User Community</a></h3>
              <p>Join our User Community to connect with like-minded individuals who share your passion for responsible e-waste recycling. Share your experiences, tips, and success stories, and be part of a growing movement for a greener planet.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="{{url_for('static', filename='assets/img/sustainable_tech_pic5.jpg')}}" alt="" class="img-fluid" style="height: 220px;">
              </div>
              <h3><a href="get-a-quote.html" class="stretched-link">Shop Sustainable Tech</a></h3>
              <p>Explore our Green Tech Marketplace for a selection of environmentally friendly and energy-efficient electronics. Purchase eco-conscious gadgets and accessories to support sustainability in your tech choices.</p>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Unlock the Full Potential of Our Services</h3>
            <p> Discover a world of possibilities by becoming a part of our community. When you sign up or sign in, you gain access to a host of valuable services, rewards, and resources designed to make your e-waste journey more rewarding and eco-conscious.</p>
            <a class="cta-btn" href="get-a-quote.html">CREATE ACCOUNT</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="{{url_for('static', filename='assets/img/temp_feature1_pic.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>E-Waste Management: As a Challenge to Public Health in India</h3>
            <p class="fst-italic">
              In India, the quantity of “e-waste” or electronic waste has now become a major problem.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> According to the Report, India generated 380,000 tonnes of e-waste,2007</li>
              <li><i class="bi bi-check"></i> Only 3% of this made it to the authorized recyclers’ facilities.</li>
              <li><i class="bi bi-check"></i> Another report estimated that in India, business and individual households make &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;approximately 1.38 million personal computers obsolete every year ccelerating the &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rate of e-waste generation, which is around 10%, annually.</li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{{url_for('static', filename='assets/img/temp_feature2_pic.jpg')}}" class="img-fluid" alt="" style="height: 325px; width: 150%">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>E-waste Recycling: Formal and Informal Sectors</h3>
            <p class="fst-italic">
              Official e-waste recycling facilities should conduct environmentally sound management (ESM).
            </p>
            <p>
              ESM is defined as “taking all practicable steps to ensure that used and/or end-of-life products and wastes are managed in a manner which will protect human health and the environment. Within the e-waste recycling facility there are suggested steps to ensure safe refurbishment or disposal. 
            </p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-12 text-center">
            <h3>E-WASTE & THE WORLD</h3>
              <img src="{{url_for('static', filename='assets/img/temp_feature5_pic.png')}}" class="img-fluid" alt="" style="width: 90%; height: 90%; border-radius: 80%; border: 20px solid #09024a; overflow: hidden;">
          </div>
      </div><!-- Features Item -->
      

        <!-- <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div> -->
        <!-- Features Item -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Pricing Section ======= -->


    <!-- <section id="pricing" class="pricing pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Pricing</span>
          <h2>Pricing</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Free Plan</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div> -->
          
          <!-- End Pricing Item -->

          <!-- <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Business Plan</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div> -->
          
          <!-- End Pricing Item -->

          <!-- <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Developer Plan</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div> -->
          
          <!-- End Pricing Item -->

        <!-- </div>

      </div>
    </section> -->
    
    <!-- End Pricing Section -->

    <!-- ======= Testimonials Section ======= -->

    <div class="section-header">
      <span>MEET OUR TEAM</span>
      <h2>MEET OUR TEAM</h2>

    </div>

    <section id="testimonials" class="testimonials">
      <div class="container" style="height: 70PX;">

        <div class="slides-1 swiper" data-aos="fade-up">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="assets/img/team_pic1.jpg" class="testimonial-img" alt=""> -->
                <h3>HARSH JOSHI</h3>
                <h4>DEVELOPER</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <!-- <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p> -->
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
                <h3>VISHESH PANDEY</h3>
                <h4>DEVELOPER</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <!-- <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p> -->
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt=""> -->
                <h3>MEHAK CHADHA</h3>
                <h4>DEVELOPER</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <!-- <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p> -->
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt=""> -->
                <h3>ANSHU RAJ KUMAR</h3>
                <h4>DEVELOPER</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <!-- <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p> -->
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""> -->
                <h3>SARTHAK VARSHNEY</h3>
                <h4>DEVELOPER</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <!-- <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p> -->
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""> -->
                <h3>ANKIT SHARMA</h3>
                <h4>DEVELOPER</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <!-- <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p> -->
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Frequently Asked Questions</span>
          <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    What is the purpose of the E-Waste Facility Locator?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The E-Waste Facility Locator is designed to help individuals find the nearest e-waste collection and recycling facilities for responsible disposal of their electronic devices. It also provides educational resources and rewards for environmentally conscious actions.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    How do I use the E-Waste Locator to find a nearby facility?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    To find a nearby e-waste facility, simply enter your location or zip code in the search bar, and our system will display a list of the closest collection centers along with essential details such as address, contact information, and operating hours.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Can I estimate the value of my old electronic devices on this platform?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, you can. Our "Estimate Device Value" feature allows you to input details about your device, such as its make, model, and condition. Our system will then provide an estimated value based on the precious metals it contains and current market prices.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    What kind of rewards can I redeem with my credits?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Our Rewards Catalog offers a variety of options, including eco-friendly products, exclusive discounts, and the opportunity to donate your credits to support environmental causes. Explore the catalog to see the full range of available rewards.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    Is my personal information safe when using the platform?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    es, we prioritize user data security and follow strict privacy protocols. Your personal information is handled securely, and we do not share it with third parties without your consent. You can review our privacy policy for more details.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="{{url_for('static', filename='assets/img/temp_logo.png')}}" alt="">
          </a>
          <p>We invite you to join us on this journey toward a cleaner, greener future. Together, we can make a difference, one device at a time.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <!-- <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li> -->
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">e-Waste Locator</a></li>
            <li><a href="#">Device Value</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Join Our Team</a></li>
            <li><a href="#">e-Waste Collector</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            West Delhi <br>
            Delhi<br>
            India <br><br>
            <strong>Phone:</strong> +91 939034903<br>
            <strong>Email:</strong> team@ewaste.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        <!-- &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved -->
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>